#wrapper {
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    overflow-x: hidden;
}

#add_address {
    border-radius: 25px;
    background: #FCE09B;
    width: 400px;
    height: max-content;
}

.add_address {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 16rem;
    padding-right: 16rem;
    padding-top: 5rem;
    padding-bottom: 50px;
    gap: 3rem;
}

#textAdd {
    font-size: 2vh;
}

#add_header {
    font-size: 40px;
    font-weight: bolder;
    align-self: center;
}

#add_address form {
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
}

.input:focus { 
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;
}

.input:hover {
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;
}

#Address, #States {
    text-align: left;
    padding-bottom: 15px;
}

#Address {
    width: 700px;
    height: 130px;
}

#state {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 5px;
}

#state:focus {
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;
}

#state:hover {
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;
}

#Field {
    color: red;
    text-align: left;
    margin-top: -20px;
}

button {
    background-color: #FFB000;
    border-style: none;
    font-size: 28px;
    font-weight: bold;
    width: fit-content;
    padding: 20px 6rem;
    align-self: center;
    margin-top: 1rem;
}

button:hover {
    color: #FFB000;
    background-color: #0e1111;
}

#addButton {
    margin-right: 40px;
    border-radius: 10px;
}

#cancel {
    background: #901111;
    color: #FFFFFF;
    margin-left: 40px;
    border-radius: 10px;
}

#cancel:hover {
    background: #FF1212;
    color: #FDFFAD;
}

#Buttons{
    display: flex;
    justify-content: center;
}

#footer{
    bottom: 0;
}