body{
    font-family: "Inter", sans-serif;
    background-color: rgba(245, 245, 220, 0.3647);
    margin: 0;
    padding: 0;
}

.bdy_flex_left{
    display: flex;
    float: left;
}

.bdy_flex_right{
    display: flex;
    float: right;
}