.header{
    background-color: black;
    min-height: 65px;
}

.left{
    float: left;
}

.lwarpper{
    display: flex;
    margin: auto 15px;
}

#icon{
    background-color: grey;
    width:65px;
    height: 65px;
}

#dropnav{
    background-color: darkcyan;
    width: 150px;
    height: 65px;
}

.right{
    float: right;
}

.rwarpper{
    display: flex;
    margin: auto 15px;
}

#login{
    background-color: pink;
    width: 100px;
    height: 65px;
}

#user{
    background-color: purple;
    width:120px;
    height: 65px;
}