.wrapper{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    row-gap:30px;
}


/* Moving Image Area */
/* Refernce : https://www.w3schools.com/howto/howto_js_slideshow.asp */
.moving-image{
    background-color: black;
    height: 655px;
}

.myslides{
    display: none;
}
.myslides img{
    width: 100%;
    height: 655px;
}

.prev, .next {
    cursor: pointer;
    position: relative;
    top: -50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #FFB000;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    float: right;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* This is section for moving image animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
}
  
@keyframes fade {
    0% {opacity: 0.0}
    50% {opacity: 0.8}
    100% {opacity: 1}
}

/* Self Introduction Area */
.self-intro{
    display: flex;
    margin:15px;
    flex-direction: row;
}

.intro-text{
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    margin:auto;
    flex-grow: 1;
}


/* Latest Seclection Area */
.latest{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latest-header{
    font-size: 48px;
    font-weight: bolder;
}

.latest-items{
    background-color: #FFCF9D;
    margin:15px;
    padding:15px;
    width: 90%;
    border-radius: 15px;
}


.latest-itemsbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.latest-item{
    margin: 25px;
    border-width: 1px;
    border-style: solid;
    display: flex;
    flex-direction: column;
}

.latest-itemtext{
    background: #fff;
}

.latest-itemtext .item-text{
    padding:3px;
    text-align: center;
    font-size: 24px;
}